# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/
*.env

# Logs
*.log
logs/

# Preserve Stata's log folder and files
!code/cross_sectional/logs/
!code/cross_sectional/logs/*.log

# Stata temporary files
*.dta
*.gph
*.tmp

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
